<!-- app/views/chatbot/index.html.erb -->
<%= turbo_frame_tag "chat" do %>
  <div id="messages">
    <%= render partial: "message", collection: @messages %>
  </div>
  
  <%= form_with url: chatbot_respond_path, method: :post, data: { turbo_frame: "chat" } do |form| %>
    <%= form.label :message, "Your Message:" %>
    <%= form.text_field :message %>
    <%= form.submit "Send" %>
  <% end %>
<% end %>
